<html>
	<head></head>
	<body>
		<div th:each="alumnos : ${listaAlumnos}">
			<label th:text='${alumnos.nombre}'></label>
			<label th:text='${alumnos.apellido}'></label>
			<label th:text='${alumnos.edad}'></label>
		</div>
	</body>
</html>